.container {
    margin-top: 72px;
    height: 100%;
    width: 100%;
    padding: 32px 24px;
    overflow: scroll;
    background-color: #FFFFFF;

    @include breakpoint-up(medium) {
        margin-top: 80px;
    }

    @include breakpoint-up(large) {
        margin-top: 0px;
        margin-left: 103px;
    }

    .link {
        width: 100%;
        display: flex;
        align-items: baseline;

        @include breakpoint-up(medium) {
            display: none;
        }
    
        &__text {
            margin: 0px;
            margin-left: 24px;
        }

        @include themify($themes) {
            color: themed('textPrimary');
        }
    }

    &__title {
        margin-top: 24px;
        margin-bottom: 24px;

        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;

        @include themify($themes) {
            color: themed('textPrimary');
        }
    }

    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__block-title {
            font-weight: bold;
            color: #7C5DFA;
            margin: 0px;
            margin-bottom: 24px;
            width: 100%;
        }
    }

}

.input-block {
    display: flex;
    flex-direction: column;
    min-width: 152px;
    margin-bottom: 24px;
    flex-grow: 1;

    &__label {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__error-text {
        visibility: hidden;
        text-align: right;
        font-weight: 600;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.208333px;
        color: $error;
    }

    &__input {
        margin-top: 10px;
        background: #FFFFFF;
        border: 1px solid #DFE3FA;
        border-radius: 4px;
        padding: 17px 20px 16px;
        font-family: 'Spartan', sans-serif;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
    }

    &--error {
        .input-block__input {
            border-color: $error;
            color: $error;
        }
        
        .input-block__label {
            color: $error;
        }
        
        .input-block__error-text {
            visibility: visible;
        }
    }

    &--full {
        width: 100%;
    }

    &--half {
        
    }

}