.modal {
    padding: 32px;
    margin: 0px 24px;
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;

    @include breakpoint-up(medium) {
        padding: 48px;
    }

    &__title {
        margin: 0px;
        margin-bottom: 14px;
    }
    
    &__text {
        margin: 0px;
        margin-bottom: 16px;
        line-height: 22px;
    }

    &__row {
        margin-left: auto;
        display: flex;
    }

    &__button {
        &:first-of-type {
            margin-right: 8px;
        }
    }
}